<%- partial('_partial/head') %>

    <body>
        <div id="container">
            <div id="wrap">
               <div id="home">

               </div>
            </div>
        </div>
    </body>

    </html>